@import url('https://fonts.googleapis.com/css2?family=Nova+Round&family=Permanent+Marker&display=swap');

table {
    margin: 5px;
    border: solid 3px;
    border-collapse: collapse;
}

th {
	font-family: 'Nova Round';
    text-align: center;
    color: white;
    background-color: black;
}

td, th {
    text-align: center;
    border: solid 1px;
    border-color: black;
    padding: 2px;
}
td {
	font-family: 'Permanent Marker';
}


@media print {
    /* #warband_tile, #unit_area { */
    #print_space {
        margin: 0.8cm; 
        display: flex;
    }
    .col-sm-4 {
        flex: 30%;
    }
}